<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>AssetNumber</th>
			<th>Title</th>
			<th>Description</th>
			<th>Status</th>
			<th>Location</th>
			<th>Assigned To</th>
            <th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in data">
            <form name="addItem">
                <td></td>
                <td>
                    {{ ::item.assetNumber }}
                    <input type="text" class="form-control" id="assetNumber" placeholder="Asset No." ng-if="item.editing">
                </td>
                <td>
                    {{ ::item.title }}
                    <input type="text" class="form-control" id="title" placeholder="Title" ng-if="item.editing">
                </td>
                <td>
                    {{ ::item.description }}
                    <textarea class="form-control" id="description" placeholder="Description" ng-if="item.editing"></textarea>
                </td>
                <td>
                    {{ ::item.status }}
                    <select class="form-control" ng-if="item.editing">
                        <option value="true" >In use (booked)</option>
                        <option value="false" >Not In use (booked)</option>
                    </select>
                </td>
                <td>
                    {{ ::item.location }}
                    <input type="text" class="form-control" id="location" placeholder="Location." ng-if="item.editing">
                </td>
                <td>
                    {{ ::item.assignedTo }}
                    <input type="text" class="form-control" id="assignedTo" placeholder="Assigned to" ng-if="item.editing">
                </td>
                <td>
                    <button type="button" class="btn btn-default" ng-if="!item.editing" ng-click='item.editing = true'>Edit</button>
                    <button type="button" class="btn btn-success" ng-if="item.editing" ng-click='save(item)'>Save</button>
                    <button type="button" class="btn btn-danger" ng-if="item.editing" ng-click='item.editing = false'>Cancel</button>
                </td>
            </form>
        </tr>
	</tbody>
</table>
