<table class="table">
	<thead>
		<th>#</th>
		<th>AssetNumber</th>
		<th>Device Title</th>
		<th>Status</th>
		<th>Assigned To</th>
        <th></th>
	</thead>
	<tbody>
		<tr ng-repeat="item in assets">
            <td>{{ ::item.$id}}</td>
            <td>
                {{ ::item.assetNumber }}
            </td>
            <td>
                {{ ::item.title }}
            </td>
            <td>
                {{ ::item.status || 'false' }}
            </td>
            <td>
                {{ ::item.assignedTo }}
            </td>
            <td>
                <button type="button" class="btn btn-default" ng-click='edit(item)'>
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-danger" ng-if="!editing" ng-click='delete(item)'><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
        <tr>
            <form name="addItem" ng-model="asset">
                <td>Add New :</td>
                <td>
                    <input type="text" class="form-control" id="assetNumber" placeholder="Asset No." ng-model="asset.assetNumber">
                </td>
                <td>
                    <input type="text" class="form-control" id="assetNumber" placeholder="title" ng-model="asset.title">
                </td>
                <td>
                    Checked out?
                    <input type="checkbox" ng-model="asset.status" value="true">
                </td>
                <td>
                    <input type="text" class="form-control" id="assignedTo" placeholder="Assigned to" ng-model="asset.assignedTo">
                </td>
                <td>
                    <button type="button" class="btn btn-success" ng-click='save(asset)'><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" class="btn btn-primary" ng-if="editing" ng-click='cancel()'><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </form>
        </tr>
	</tbody>
</table>
